.header {
  margin-bottom: 10px;
  margin-left: 10px;
}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  z-index:1;
  height: 6rem;
  overflow:auto;
  position: absolute;
  background-color: aliceblue;
  border: solid black 1px;
  left: 135px;
}

.dropdown-category:hover {
  background-color:lightskyblue;
}